<launch>
    <param name="lidar_topic" type="string" value="/velodyne_points" />
    <param name="scan_line" type="int" value="16" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="1.5"/>
    <param name="clustering_size" type="double" value="1.5"/>

    <param name="map_matching_range" type="double" value="80"/>
    <param name="matching_threshold" type="double" value="1.5"/>

    <!--  -->
    <param name="lidar_type" type="string" value="VLP16"/>

    <param name="save_directory" type="string" value="/home/mando/lidarslam_ws/src/SC-PD-LOAM-main/"/>  <!-- CHANGE THIS and end with / -->
    <param name="map_directory" type="string" value="/home/mando/lidarslam_ws/src/SC-PD-LOAM-main/PangyoMap/"/>    <!-- CHANGE THIS and end with / -->
    <!-- nodes -->
    <node pkg="pd_loam" type="scanRegistration" name="scanRegistration" output="screen" />
    <node pkg="waypoint_reader" type="waypoint_reader" name="waypoint_reader" output="screen" />
    <node pkg="pd_loam" type="laserLocalization" name="laserLocalization" output="screen" />

    <!-- visulaization -->
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find pd_loam)/rviz_cfg/pd_loam.rviz" />
    </group>

</launch>
